@mixin flex ($h, $v) {
    display: flex;
    justify-content: $h;
    align-items: $v;
}

@mixin btn{
    border-radius: 5px;
    border: 1px solid rgb(134, 59, 255);
    padding: 3px 6px 2px 6px;
    font-size: 18px;
    background: white;
    transition: .5s ease-in-out;
    color: $purple;
    cursor: pointer;
    &:hover{
        background: rgb(134, 59, 255);
        color: white;
    }
}